@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);

/* Variables */


/* Colors */

.left_nav {
    padding: 0;
}

.links {
    background: white;
    height: 100%;
}

.links li {
    height: calc(100% / 5);
    background: grey;
    margin-bottom: 5px;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    font-size: 16px;
}

.links a {
    height: 100%;
    width: 100%;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkorange;
    font-size: 24px;
    color: black;
    font-weight: 800;
    ;
}

.links a:hover {
    background-color: bisque;
}