@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #E0DDCF;
    color: rgba(0, 0, 0, 0.8);
    display: grid;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 100vh;
    justify-items: center;
    /* align-items: center; */
    width: 100vw;
}

.signup-container {
    display: grid;
    grid-template-areas: "left right";
    max-width: 1200px;
    margin: auto 0;
    /* vertical-align: center; */
}

.left-container {
    background: #807182;
    overflow: hidden;
    padding: 40px 0 0 0;
    position: relative;
    text-align: center;
    width: 300px;
    height: 576px;
}

.left-container h1 {
    color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    font-size: 24px;
}

.left-container h1 i {
    background: #F7B1AB;
    border-radius: 50%;
    color: #807182;
    font-size: 24px;
    margin-right: 5px;
    padding: 10px;
    transform: rotate(-45deg);
}

.left-container header {
    background-color: darkorange;
    display: flex;
    justify-content: space-between;
    padding: 0px 32px;
    align-items: center;
    min-height: 96px;
}

.left-container .queries {
    bottom: -5px;
    /* position: absolute; */
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.left-container .query {
    height: 138px;
    width: 320px;
    background-color: darkkhaki;
    margin: 10px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    /* align-items: space-around; */
}

.left-container .query .set {
    background-color: darkmagenta;
    display: flex;
    justify-content: space-between;
    padding: 0px 32px;
    align-items: center;
    height: 48px;
}

.left-container .puppy:before {
    background: #807182;
    content: "";
    height: 100%;
    left: 0;
    opacity: .4;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.left-container img {
    filter: sepia(100%);
    width: 70%;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.right-container {
    background: #F9ECCC;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    /* display: grid; */
    /* grid-template-areas: "." "."; */
    width: 700px;
    height: 576px;
}

#cars {
    padding: 32px;
}

.right-container h1:nth-of-type(1) {
    color: rgba(0, 0, 0, 0.8);
    font-size: 28px;
    font-weight: 600;
}

.right-container .set {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.right-container footer .set {
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.right-container input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    /* border-radius: 4px; */
    min-height: 38px;
    /* width: 8px; */
    line-height: 38px;
    /* padding-left: 5px; */
}

.right-container input,
.right-container label {
    color: rgba(0, 0, 0, 0.8);
}

.right-container header {
    padding: 40px;
}

.right-container label,
.right-container input,
.right-container .pets-photo {
    min-width: 96px;
}

.right-container .pets-photo {
    align-items: center;
    display: grid;
    grid-template-areas: ". .";
}

.right-container .pets-photo button {
    border: none;
    border-radius: 50%;
    height: 38px;
    margin-right: 10px;
    outline: none;
    width: 38px;
}

.right-container .pets-photo button i {
    color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
}

.right-container .pets-weight .radio-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.right-container footer {
    align-items: center;
    background: #fff;
    display: grid;
    padding: 5px 40px;
}

.right-container footer button {
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 38px;
    line-height: 38px;
    width: 100px;
    border-radius: 19px;
    font-family: "Montserrat", sans-serif;
}

.right-container footer #back {
    background: #fff;
    transition: .2s all ease-in-out;
}

.right-container footer #back:hover {
    background: #171A2B;
    color: white;
}

.right-container footer #next,
#submit {
    background: #807182;
    border: 1px solid transparent;
    color: #fff;
    width: 128px;
    vertical-align: center;
}

.right-container footer #next:hover {
    background: #171A2B;
}

.right-container .cars_main {
    height: 100%;
}

.right-container .car {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: red;
    min-width: 197px;
    max-width: 348px;
    min-height: 164px;
    margin: 10px;
    border-radius: 5px;
}

.pets-name label,
.pets-breed label,
.pets-birthday label,
.pets-gender label,
.pets-spayed-neutered label,
.pets-weight label {
    display: block;
    margin-bottom: 5px;
}

.form_block {
    max-width: 178px;
}

.radio-container {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: inline-block;
    padding: 5px;
}

.radio-container label {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 2px;
    display: inline-block;
    min-height: 26px;
    line-height: 26px;
    margin: 0;
    padding: 2px;
    text-align: center;
    transition: .2s all ease-in-out;
    min-width: 50px;
}

.form_block .pets-weight {
    width: 178px;
}

.form_block .pets-weight label {
    width: 70px;
}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
    width: 178px;
    height: 32px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

.radio-container input[type="radio"] {
    display: none;
}

.radio-container input[type="radio"]:checked+label {
    background: #F9ECCC;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.hs {
    margin-bottom: 24px;
}

.details_form {
    background: none;
    padding: 0;
    max-width: 600px;
    height: 420px;
    display: flex;
    flex-flow: center;
    /* align-items: center; */
    justify-content: center;
    margin: 10px;
    /* background: red; */
}

.details_form header {
    padding: 0;
}