.wrapper {
    background: lightgrey;
    padding: 40px;
    min-height: 500px;
}

.main_info {
    background: lightgreen;
}

.wishlist {
    background: lightcoral;
}

#myChart {
    max-height: 400px;
    max-width: 800px;
    ;
}

.cars {
    background: lightblue;
}

.car {
    background: lightgoldenrodyellow;
    display: flex;
    text-align: center;
    flex-flow: column-reverse;
    justify-items: center;
    align-self: center;
}