.statistic-section {
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 500px;
    /* background: #00c6ff; */
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
    background: linear-gradient(to right, #0072ff, #00c6ff); */
    text-align: center;
}

.statistic-section .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    /* background: red; */
}

.count-title {
    font-size: 15px;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
    color: black;
}

.stats-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}


/* .stats-line-black {
    margin: 5px auto 0;
    width: 55px;
    height: 2px;
    background-color: #fff;
} */

.stats-icon {
    /* font-size: 50px; */
    margin: 0 auto;
    float: none;
    display: table;
    color: black
}


/* @media (max-width: 992px) {
    .counter {
        margin-bottom: 40px;
    }
} */